@import './reset.scss';
a{
	i{
		color: #fff;
	}
}
.movie-box{
	position: relative;
	overflow: hidden;
	padding: 0.2rem;
}

.movie-background{
	z-index: 0;
	filter: blur(0.5rem);
	-webkit-filter: blur(0.5rem);
	background-size: cover;
	background-image: gray;
	background-repeat: no-repeat;
}

.movie-filter, .movie-background{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
}

.movie-filter{
	background-color: #40454d;
	opacity: .55;
}


.movie-content-body{
	display: flex;
	display:-webkit-flex;
	.movie-info{
		color: #fff;
		h3{
			font-size: 0.36rem;
			padding-top: 0.1rem;
		}
		.small-title{
			font-size: 0.2rem;
		}
	}
	.movie-rating{
		padding: 0.2rem 0;
		label{
			font-size: 0.2rem;
			opacity: .7;
			display: block;
		}
		.rating-average{
			font-size: .3rem;
			padding-left: 0.08rem;
			color: #ff9900;
		}
	}
	.rating-items{
		color:#ddd;
		font-size: 0.28rem;
		i{
			margin-right: 0.02rem;
		}
		i.star{
			color: #ff9900;
		}
	}
}

.movie-content{
	position: relative;
	z-index: 10;
	ul li{
		opacity: .7;
		font-size: .28rem;
	}
}

.movie-pic{
	border:2px solid #fff;
	margin-right: 0.2rem;
	img{
		width: 2rem;
		display: block;
	}
}
.movie-summary{
	transition: max-height 0.2s;
	-webkit-transition: max-height 0.2s;
	overflow: hidden;
	padding: .3rem .3rem 0 .3rem;
	line-height: 0.5rem;
}
.movie-summary.show{
	max-height: 10rem;
}

.movie-summary.hide{
	max-height:1.5rem;
}

.showMore{
	text-align: center;
	padding: 0.15rem 0;
}

.summary-box{
	background: #fff;
	border-bottom: 1px solid #ddd;
}

