@import './reset.scss';
a {
    i {
        color: #fff;
    }
}

.am-navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99999;
}
.nav-space{
    height: 0.9rem;
}

.movie-box {
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.movie-background {
    z-index: 0;
    filter: blur(50px);
    -webkit-filter: blur(50px);
    background-size: cover;
    background-image: gray;
    background-repeat: no-repeat;
}

.movie-filter,
.movie-background {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.movie-filter {
    background-color: #40454d;
    opacity: .55;
}

.movie-content-body {
    display: flex;
    display: -webkit-flex;
    .movie-info {
        color: #fff;
        h3 {
            font-size: 34px;
            padding-top: 10px;
        }
        .small-title {
            font-size: 20px;
        }
    }
    .wishNumber {
        padding: 18px 0;
        color: yellow;
        font-size: 32px;
        font-weight: 700;
    }
    .movie-rating {
        padding: 14px 0;
        label {
            font-size: 20px;
            opacity: .7;
            display: block;
        }
        .rating-average {
            font-size: 30px;
            padding-left: 8px;
            color: yellow;
        }
    }
    .rating-items {
        color: #ddd;
        font-size: 28px;
        i {
            margin-right: 4px;
        }
        i.star {
            color: yellow;
        }
    }
}

.movie-content {
    position: relative;
    z-index: 10;
    ul li {
        opacity: .7;
        font-size: 24px;
        line-height: 40px;
    }
}

.movie-pic {
    border: 2px solid #ddd;
    margin-right: 20px;
    position: relative;
    .img-wrap {
        width: 200px;
        height: 290px;
        overflow: hidden;
    }
    img {
        width: 200px;
        display: block;
    }
}

.movie-summary {
    transition: max-height 0.2s;
    -webkit-transition: max-height 0.2s;
    overflow: hidden;
    padding: 30px 30px 0 30px;
    line-height: 50px;
    font-size: 30px;
}

.movie-summary.show {
    max-height: 10000px;
}

.movie-summary.hide {
    max-height: 150px;
}

.showMore {
    text-align: center;
    padding: 15px 0;
}

.summary-box {
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.movie-content-footer {
    margin-top: 20px;
}

.movie-content-footer button {
    height: 60px;
    line-height: 60px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    width: 48%;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 28px;
    i {
        color: #ddd;
        margin-right: 10px;
    }
    &.active {
        i {
            color: #ff3300;
        }
    }
    &.do{
        color: #ffb400;
        i{
            color: #ffb400;
        }
    }
}

.movie-content-footer button:first-child {
    margin-right: 4%;
}

.movie-content-footer .am-button-active {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.movie-player {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    border: 3px solid #fff;
    border-radius: 50%;
    font-size: 40px;
    color: #fff;
    text-align: center;
    line-height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    i {
        padding-left: 5px;
    }
}